<section id="categories" markdown="0">

  carta <div style=" text-align: right;float:right">0%</div> <div style="clear:both;">
  carta <div style=" text-align: right;float:right">0%</div> <div style="clear:both;">
  carta <div style=" text-align: right;float:right">0%</div> <div style="clear:both;">
  carta <div style=" text-align: right;float:right">0%</div> <div style="clear:both;">
  carta <div style=" text-align: right;float:right">0%</div> <div style="clear:both;">
  carta <div style=" text-align: right;float:right">0%</div> <div style="clear:both;">
